.prose {
  --at-apply: flex flex-col gap-4;

  ruby-align: space-around;

  section {
    --at-apply: flex flex-col gap-2;
  }

  a strong {
    --at-apply: text-inherit;
  }

  blockquote strong {
    --at-apply: text-inherit;
  }

  thead th strong {
    --at-apply: text-inherit;
  }

  ol > li,
  ul > li {
    --at-apply: mt-0 mb-2;
  }

  ul {
    --at-apply: list-disc my-2 pl-4;

    ::marker {
      --at-apply: text-primary-fg-solid;
    }

    li:has(input) {
      --at-apply: list-none;

      input[type="checkbox"] {
        --at-apply: -ml-6 mr-1 appearance-none inline-block w-4 h-4 rounded b-2
          b-border-subtle cursor-default shrink-0 transition-colors;
        vertical-align: -0.125em;

        &:checked {
          --at-apply: bg-primary-fg-solid b-primary-fg-solid;

          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3E%3Cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3E%3C/svg%3E");
          background-size: 100% 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }

  ol {
    --at-apply: list-decimal my-2 pl-4;

    ::marker {
      --at-apply: text-primary-fg-solid font-medium;
    }
  }

  ol[type="A"] {
    --at-apply: list-upper-alpha;
  }

  ol[type="a"] {
    --at-apply: list-lower-alpha;
  }

  ol[type="I"] {
    --at-apply: list-upper-roman;
  }

  ol[type="i"] {
    --at-apply: list-lower-roman;
  }

  li {
    --at-apply: leading-relaxed;
  }

  dt {
    --at-apply: font-bold;
  }

  hr {
    --at-apply: my-6 border-0 border-t b-border;
  }

  blockquote {
    --at-apply: font-medium font-italic text-fg-muted b-l-4 b-border pl-4 my-4;

    quotes: "“" "”" "‘" "’";

    p:first-of-type::before {
      content: open-quote;
    }

    p:last-of-type::after {
      content: close-quote;
    }
  }

  /* TODO Use :heading when it comes in Newly Available */

  h2,
  h3,
  h4,
  h5,
  h6,
  figcaption {
    font-kerning: normal;
    font-variant-east-asian: proportional-width;
    text-wrap: balance;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    --at-apply: "scroll-mt-16 line-height-[2.0] font-bold";

    a[data-autolink] {
      --at-apply: inline-block relative inset-0 left--8 mr--8 w-8 no-underline;

      span.icon {
        --at-apply: opacity-0 transition-opacity;

        &::before {
          --at-apply: "block i-lucide:link";
          content: "";
        }
      }
    }

    &:hover a[data-autolink] span.icon {
      --at-apply: opacity-100;
    }
  }

  h2 {
    --at-apply: sticky inset-t-0 z-24 bg-bg text-2xl mb-3 b-border b-b;
  }

  h3 {
    --at-apply: text-xl mb-2;
  }

  h4 {
    --at-apply: text-lg mb-1;
  }

  h5,
  h6 {
    --at-apply: text-base mb-1;
  }

  a {
    --at-apply: "text-primary-fg-solid font-medium underline transition-colors decoration-transparent hover:decoration-current focus:decoration-current";

    word-break: keep-all;
    text-justify: inter-character;

    span[data-external-link-icon] {
      --at-apply: "inline-block i-lucide:arrow-up-right align-mid mr-0.5";
    }
  }

  figure,
  video,
  iframe {
    --at-apply: block mx-auto my-4;
  }

  figure {
    img {
      --at-apply: rounded-2;
    }

    img[data-fancybox] {
      --at-apply: "cursor-pointer transition-transform hover:scale-[1.02]";
    }

    figcaption {
      --at-apply: mt-2 text-sm text-center text-fg-muted;
    }
  }

  iframe {
    --at-apply: outline-none;
  }

  /* YouTube iframe has fixed size */
  iframe[width="200"][height="113"] {
    --at-apply: w-full h-auto aspect-video;
  }

  /* Twitter */
  .twitter-tweet {
    --at-apply: mx-auto my-4;

    iframe {
      --at-apply: rounded-4 my-0;
    }
  }

  /* Speaker Deck */

  iframe.speakerdeck-iframe {
    --at-apply: w-full h-auto;
  }

  kbd {
    --at-apply: inline-flex items-center gap-1 px-1 0.5 py-0 0.5 rounded-1
      bg-bg-muted text-fg text-sm font-medium border b-border-subtle select-all;
  }

  code {
    --at-apply: font-mono text-sm bg-bg-subtle text-fg mx-1 px-2 py-1 rounded-1;
  }

  pre {
    --at-apply: overflow-x-auto;
  }

  table {
    --at-apply: w-full table-auto border-collapse my-4;

    thead {
      --at-apply: b-border b-b-1;

      th {
        --at-apply: font-bold align-bottom;
      }
    }

    tbody {
      tr {
        --at-apply: b-border b-b-1;
      }

      tr:last-child {
        --at-apply: b-0;
      }

      td {
        --at-apply: align-base;
      }
    }

    tfoot {
      --at-apply: b-border b-t-1;

      td {
        --at-apply: align-top;
      }
    }

    th,
    td {
      --at-apply: p-2;

      &:first-child {
        --at-apply: pl-4;
      }

      &:last-child {
        --at-apply: pr-4;
      }

      code {
        --at-apply: bg-transparent px-0 py-0;
      }
    }
  }

  /* Expressive Code */

  div.expressive-code {
    --at-apply: my-4;
  }

  /* Mermaid diagram */

  picture > img {
    --at-apply: mx-auto;
  }

  /* remark-rehype */

  [data-footnote-ref] {
    --at-apply: mr-0 0.5 scroll-mt-24;
  }

  [data-footnote-ref]::before {
    content: "[";
  }

  [data-footnote-ref]::after {
    content: "]";
  }

  [data-footnote-label] {
    --at-apply: sr-only;
  }

  [data-footnotes] {
    --at-apply: relative text-sm text-fg mt-16 py-6 b-border b-t;

    ol {
      --at-apply: flex flex-col gap-2 list-decimal pl-4;
    }
  }

  [data-footnote-backref] {
    --at-apply: decoration-none ml-2;
  }

  /* rehype-og-card */

  .og-card-container {
    --at-apply: "w-full my-4 transition-colors bg-bg hover:bg-bg-subtle b-border b-1 rounded-2";
  }

  .og-card-container a {
    --at-apply: "grid grid-cols-[1fr_calc(116px+var(--spacing)*3)] gap-4 decoration-none";

    @media (min-width: 75ch) {
      grid-template-columns: 1fr calc(220px + var(--spacing) * 6);
    }
  }

  .og-card-info {
    --at-apply: col-1 flex flex-col pl-6 py-3 justify-center font-normal
      max-w-full min-w-full;
  }

  .og-card-title {
    --at-apply: text-base text-fg leading-5 font-bold line-clamp-2 text-ellipsis;
  }

  .og-card-description {
    --at-apply: mt-1 mb-3 text-xs text-fg-muted line-clamp-1 text-ellipsis;
  }

  .og-card-url-container {
    --at-apply: flex items-center gap-2;
  }

  .og-card-favicon {
    --at-apply: m-0 mt-0 0.5;
  }

  .og-card-url {
    --at-apply: text-xs text-fg-muted line-clamp-1 text-ellipsis;
  }

  .og-card-image-container {
    --at-apply: col-2 aspect-square;

    @media (min-width: 75ch) {
      aspect-ratio: 1.91;
    }
  }

  .og-card-image {
    --at-apply: m-0 h-full w-full rounded-2 object-cover;
  }

  /* rehype-callout */

  [data-callout="note"],
  [data-callout="abstract"],
  [data-callout="summary"],
  [data-callout="tldr"] {
    --callout-bg: theme("colors.secondary.bg");
    --callout-fg: theme("colors.secondary.bg.solid");
  }

  [data-callout="info"],
  [data-callout="todo"],
  [data-callout="tip"],
  [data-callout="hint"],
  [data-callout="example"] {
    --callout-bg: theme("colors.info.bg");
    --callout-fg: theme("colors.info.bg.solid");
  }

  [data-callout="important"],
  [data-callout="question"],
  [data-callout="faq"] {
    --callout-bg: theme("colors.primary.bg");
    --callout-fg: theme("colors.primary.bg.solid");
  }

  [data-callout="success"],
  [data-callout="check"],
  [data-callout="done"] {
    --callout-bg: theme("colors.success.bg");
    --callout-fg: theme("colors.success.bg.solid");
  }

  [data-callout="warning"],
  [data-callout="attention"],
  [data-callout="caution"] {
    --callout-bg: theme("colors.warning.bg");
    --callout-fg: theme("colors.warning.bg.solid");
  }

  [data-callout="failure"],
  [data-callout="missing"],
  [data-callout="fail"],
  [data-callout="danger"],
  [data-callout="error"],
  [data-callout="bug"] {
    --callout-bg: theme("colors.error.bg");
    --callout-fg: theme("colors.error.bg.solid");
  }

  [data-callout="quote"],
  [data-callout="cite"] {
    --callout-bg: theme("colors.base.border");
    --callout-fg: theme("colors.base.fg");
  }

  .callout {
    --at-apply: w-full my-2 p-4 rounded-2 overflow-hidden;

    mix-blend-mode: darken;

    background-color: var(--callout-bg, theme("colors.primary.bg"));

    &::details-content {
      transition:
        height 0.4s,
        opacity 0.4s,
        content-visibility 0.4s allow-discrete;
    }

    @media (prefers-color-scheme: dark) {
      mix-blend-mode: lighten;

      background-color: rgb(
        from var(--callout-bg, theme("colors.primary.bg")) r g b /
        25%
      );
    }
  }

  .callout-title {
    --at-apply: flex items-start gap-2;

    mix-blend-mode: darken;

    color: color-mix(
      in oklab,
      var(--callout-fg, theme("colors.primary.bg.solid")),
      black 20%
    );

    @media (prefers-color-scheme: dark) {
      mix-blend-mode: lighten;

      color: color-mix(
        in oklab,
        var(--callout-fg, theme("colors.primary.bg.solid")),
        white 40%
      );
    }

    ::-webkit-details-marker {
      --at-apply: hidden;
    }
  }

  .callout-title-icon {
    --at-apply: "flex flex-[0_0_auto] items-center";
  }

  .callout-title-text {
    --at-apply: text-base font-bold;
  }

  .callout-content {
    --at-apply: overflow-x-auto p-0 pt-2 bg-none;
  }

  .callout[data-collapsible="true"] {
    .callout-title {
      --at-apply: cursor-pointer;
    }

    .callout-fold-icon {
      --at-apply: flex items-center pr-2 text-fg-muted;
    }

    > .callout-title .callout-fold-icon svg {
      --at-apply: rotate--90 transition-transform duration-100;
    }

    &[open] > .callout-title .callout-fold-icon svg {
      --at-apply: rotate-0;
    }
  }

  .callout-title-icon::after,
  .callout-fold-icon::after {
    content: "\200B"; /* Zero-width space to ensure the element is focusable and has a proper size */
  }

  .callout-title-icon svg,
  .callout-fold-icon svg {
    --at-apply: w-4 h-4;
  }

  /* rehype-budoux (DIY) */

  [data-budoux] {
    word-break: keep-all;
    overflow-wrap: anywhere;
  }

  /* typst.ts */

  p svg.typst-doc {
    --at-apply: inline text-lg mx-0 0.5 overflow-x-auto;
  }

  /* rehype-typst-math-display (DIY) */

  svg.typst-doc[data-math-display] {
    --at-apply: block text-2xl mx-auto my-4;
  }
}
