---
import { For } from "@astropub/flow";

import { footerLinks } from "@/resources/footer/links";
import { grid, gridItem, hstack } from "@style/patterns";

interface Props {
  class?: string;
}
---
<footer
  class:list={[
    grid({
      placeItems: "center",
      pos: "sticky",
      top: "[100dvh]",
      borderTopWidth: "1px",
      px: "6",
      py: "8",
      color: "text.muted",

      _hover: {
        "& ul": {
          color: "text",
        },
      },
    }),
    Astro.props.class,
  ]}
>
  <ul
    class={hstack({
      color: "border",
      gap: "1",
      transition: "color .2s",
      cursor: "default",
      "& li:not(:last-child)": {
        _after: {
          content: "'·'",
        },
      },
    })}
  >
    <For of={footerLinks}>
      {
        ({ name, href }) => (
          <li>
            <a {href}>{name}</a>
          </li>
        )
      }
    </For>
  </ul>
  <div class={grid({ color: "text.muted/75", gridTemplateColumns: "[auto 1fr auto]", gridTemplateAreas: `"left spacer right"`, w: "full" })}>
    <p class={gridItem({ gridArea: "left" })}>&copy; 2023- Wycey</p>
    <p class={gridItem({ gridArea: "right" })}>Powered by <a target="_blank" href="https://astro.build">Astro</a></p>
  </div>
</footer>
