---
interface Props {
  class?: string;
}
---

<footer
  class:list={[
    grid({
      placeItems: "center",
      position: "sticky",
      top: "100dvh",
      borderTop: "base",
      px: "6",
      py: "8",

      _hover: {
        "& ul": {
          color: "foreground",
        },
      },
    }),
    Astro.props.class,
  ]}
>
  <ul
    class={hstack({
      color: "border",
      gap: "0",
      "& li:not(:last-child)": {
        _after: {
          content: "'·'",
        },
      },
    })}
  >
    <For of={footerLinks}>
      {
        ({ name, href }) => (
          <li>
            <a {href}>{name}</a>
          </li>
        )
      }
    </For>
  </ul>
  <div class={grid({ gridTemplateColumns: "auto 1fr auto", gridTemplateAreas: `"left spacer right"`, w: "full" })}>
    <p class={gridItem({ gridArea: "left" })}>&copy; 2023- Wycey</p>
    <p class={gridItem({ gridArea: "right" })}>Powered by <a target="_blank" href="https://astro.build">Astro</a></p>
  </div>
</footer>
