---
interface Props {
  class?: string;
  applyGap?: boolean;
  icon: string;
}

const { class: className, icon, applyGap = true } = Astro.props;

const gapClass = applyGap ? "gap-4" : "gap-0";
---
<div flex items="center" class:list={[className, gapClass]}>
  <p bg="primary-bg" class="p-2 rounded-2">
    <span text="primary-fg-solid" class={`block ${icon}`} />
  </p>
  <slot />
</div>
