---
import { footerLinks } from "@/lib/content/footer/links";

interface Props {
  class?: string;
}
---
<footer
  sticky
  flex
  flex-col
  gap="4"
  items="center"
  text="fg-muted"
  p="x-6 y-8"
  print="hidden"
  class:list={[
    "top-dvh",
    Astro.props.class,
  ]}
>
  <ul
    flex
    items="center"
    w="full"
    text="fg-disabled hover:fg"
    transition-colors
    cursor="default"
  >
    {
      footerLinks.map(({ name, href }, i) => (
        <>
          {i > 0 && (
            <li aria-hidden="true" class="shrink-0 px-4 pointer-events-none">·</li>
          )}
          <li
            class:list={[
              i === 0 && "flex-1 text-right",
              i === footerLinks.length - 1 && "flex-1",
            ]}
          >
            <a href={href} target="_blank" rel="noreferrer">{name}</a>
          </li>
        </>
      ))
    }
  </ul>
  <section
    w="full"
    flex
    text="fg-disabled/75%"
  >
    <p flex-auto>&copy; 2023- Wycey</p>
    <p>Powered by <a href="https://astro.build" target="_blank" rel="noreferrer">Astro</a></p>
  </section>
</footer>
