---
interface Props {
  class?: string;
  icon: string;
}

const { class: className, icon } = Astro.props;
---
<div class={className} flex items="center" gap="4">
  <p class="p-2 bg-primary-bg rounded-2">
    <span class={`block text-primary-fg-solid ${icon}`} />
  </p>
  <slot />
</div>
