---
interface Props {
  href?: string;
  pagefindFilter?: string;
}

const { href, pagefindFilter } = Astro.props;
---
{href 
  ? (
    <a
      href={href}
      class="block px-2 py-1 rounded-2"
      bg="hover:primary-bg-hover"
      text="fg-muted hover:fg"
      transition-colors
      data-pagefind-filter={pagefindFilter}
    >
      <slot />
    </a>
  )
  : (
    <span
      class="px-2 py-1 rounded-2"
      bg="hover:bg-hover"
      text="fg-muted hover:fg"
      transition-colors
      cursor="default"
      data-pagefind-filter={pagefindFilter}
    >
      <slot />
    </span>
  )
}
