---
import RootLayout from "@/layouts/RootLayout.astro";
---
<RootLayout
  title="404 Not Found"
>
  <section flex flex-col gap="8" w="full" align="mid" text="center">
    <h1 text="8xl" font="bold">404 Not Found</h1>
    <p>お探しのページは見つかりませんでした。</p>
  </section>
</RootLayout>
