---
import { getContentPieces } from "virtual:vrite";

const posts = await getContentPieces({ limit: "all" });
---
<html lang="ja">
  <head>
    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-SWKQ6261R9"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SWKQ6261R9');
    </script>

    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/siemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>wycey blog</title>
  </head>
  <body>
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                {post.date && new Date(post.date).toISOString()}
                <a href={`/blog/${post.slug}/`}>{post.title}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
