---
import { Counter } from "@/components/Counter.client";
import RootLayout from "@/layouts/RootLayout.astro";

// const posts = await getContentPieces({ limit: "all" });
---

<RootLayout title="Home" url={Astro.url.href}>
  <Counter client:idle />
  <ul>
    <li>hoge</li>
  </ul>
</RootLayout>
