---
import { css } from "@shadow-panda/styled-system/css";
import { hstack, grid, gridItem } from "@shadow-panda/styled-system/patterns";

interface Props {
  class?: string;
}
---

<footer
  class:list={[
    grid({
      placeItems: "center",
      position: "sticky",
      top: "100dvh",
      borderTop: "base",
      px: "6",
      py: "8",

      _hover: {
        "& ul": {
          color: "foreground",
        },
      },
    }),
    Astro.props.class,
  ]}
>
  <ul
    class={hstack({
      color: "border",
      gap: "0",
      "& li:not(:last-child)": {
        _after: {
          content: "'·'",
        },
      },
    })}
  >
    <li><a href="mailto:contact@wycey.dev">Contact</a></li>
    <li>Contact</li>
  </ul>
  <div class={grid({ gridTemplateColumns: "auto 1fr auto", gridTemplateAreas: `"left spacer right"`, w: "full" })}>
    <p class={gridItem({ gridArea: "left" })}>&copy; 2023- Wycey</p>
    <p class={gridItem({ gridArea: "right" })}>
      Powered by <a target="_blank" href="https://astro.build">Astro</a>
    </p>
  </div>
</footer>
