---
import type { MarkdownLayoutProps } from "astro";
import type { Thing } from "schema-dts";
import BudouX from "@/components/BudouX.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { createAboutPageSchema } from "@/lib/content/json-ld";
import { replacePlaceholder } from "@/lib/content/placeholder";

import "@/styles/typography.css";

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
}>

const mapUrlToJsonLd = (pathname: string | undefined = Astro.url.pathname): Thing | readonly Thing[] | undefined => {
  if (pathname === "/about") {
    return createAboutPageSchema();
  }
}

const { frontmatter, url, headings } = Astro.props;
const title = replacePlaceholder(frontmatter.title);
const jsonLd = mapUrlToJsonLd(url);
---
<RootLayout
  title={title}
  description={replacePlaceholder(frontmatter.description)}
  headings={headings}
  {...(jsonLd && { jsonLd })}
>
  <article flex-auto class="brand-container prose" data-pagefind-body>
    <h1 data-budoux><BudouX text={title} /></h1>
    <slot />
  </article>
</RootLayout>

<style>
  h1 {
    font-kerning: normal;
    font-variant-east-asian: proportional-width;
  }
</style>
